.furnitureSelection{
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}
@media (max-width: 1200px){
    .furnitureSelection{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 767px){
    .furnitureSelection{
        padding: 0;
    }
}