.main{
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 120px;
}
.body{
    background-image: url(../../img/background.svg);
    background-position: 30px 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    max-width: 655px;
    font-weight: 400;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: -1px;
    color: #606F7A;
    margin-bottom: 80px;
}
@media (max-width: 1200px) {
    .title{
        font-size: 31px;
        line-height: 130%;
        margin-bottom: 50px;
    }
    .main{
        min-height: calc(100vh - 90px);
        display: block;
        padding-bottom: 40px;
    }
    .body{
        background-image: none;
    }
}