.body{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
li,
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.btn{
    height: 60px;
    max-width: 120px;
    margin-top: 30px;
}
@media (max-width:1200px) {
    .body{
        flex-direction: column;
    }
}