.product{
    display: inline-flex;
    align-items: center;
    background: #F8FAFF;
    border-radius: 3px;
    max-width: 100%;
    margin-bottom: 24px;
    position: relative;
}
.product_img{
    width: 108px;
    height: 70px;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}
.product_text{
    padding: 28px 26px;
    flex: 0 1 auto;
    font-weight: normal;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -1px;
    color: #606F7A;
}
.input_wrapper{
    display: flex;
    flex-direction: column;
}
.input{
    width: 320px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    height: 53px;
    padding: 0 19px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.2px;
    color: #606F7A;
}
.input:last-child{
    margin-bottom: 36px;
}
.input::placeholder{
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.2px;
    color: #B7B7B7;
}

.btn_wrapper{
    display: flex;
    position: relative;
}
.btn{
width: 206px;
height: 55px;
}
.btn:first-child{
    margin-right: 9px;
}
.hint_form{
    position: absolute;
    top: 0;
    width: 456px;
}
.hint{
    display: flex;
    align-items: center;
}
.hint_text{
    padding-right: 50px;
    position: relative;
}
.hint_form .hint_text:before{
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url(../../../img/icons/arrow_blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}
.hint_btn{
    max-width: 600px;
    position: absolute;
    left: -122%;
    display: block;
}
.hint_btn .hint_text{
    padding-right: 40px;
    position: relative;
    margin-left: 20px;
}
.hint_btn .hint_text:before{
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url(../../../img/icons/arrow_blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}
.close{
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
    background-image: url(../../../img/icons/close_red.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
@media (max-width: 1200px) {
    .product_img{
        border-radius: 3px;
        width: 140px;
        height: 88px;
        background-color: #fff;
    }
    .product{
        background-color: transparent;
    }
    .input{
        width: 100%;
        margin-bottom: 10px;
    }
    .input:last-child{
        margin-bottom: 27px;
    }
    .btn_wrapper{
        flex-direction: column;
    }
    .btn{
        width: 100%;
    }
    .btn:first-child{
        margin-right: 0;
        margin-bottom: 8px;
    }
}