.header{
    padding: 45px 0 0;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.menu{
    display: none;
}
.logo{
    height: 45px;
    width: 163px;
    position: relative;
    z-index: 2;
}
.logo_wrapper{
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    .header{
        padding: 25px 0;
    }
    .button_contact{
        display: none;
    }
    .menu{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}