.calc{
    max-width: 500px;
    width: 100%;
}
.title{
    font-weight: 400;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: -1px;
    color: #606F7A;
    margin-bottom: 42px;
}
.text{
    font-weight: 400;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: -1px;
    color: #606F7A;
    text-align: center;
    margin-top: 210px;
}
@media (max-width:1200px) {
    .calc{
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }
}